<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/public/styles/global.css">
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="stylesheet" href="/public/styles/form.css">
  <link rel="stylesheet" href="/public/styles/custom-checkbox.css">
  <link rel="stylesheet" href="/public/styles/responsiveness.css">
</head>
<body>
  <div class="container">
    <div class="hero-image">
      <p>"Obtive crédito para capital de giro. O processo foi bem sucedido e tudo que foi abordado, foi cumprido."</p>
      <strong>Camila Bragança,</strong>
      <small>Sideral Tecnologia</small>
    </div>

    <div class="content">
      <header class="page-header">
        <img class="logo" src="/public/images/logo.svg" alt="Logo">
      </header>

      <main>
        <form action="/save-register" id="register-form" method="POST">
          <legend>
            <h2>Criar meu cadastro</h2>
            <p>Para acompanhar sua contratação de crédito você utilizará seu e-mail e CPF.</p>
          </legend>
  
          <div class="input-block">
            <label for="email">E-mail</label>
            <input name="email" id="email" type="email" placeholder="Digite seu melhor e-mail" required>
          </div>
  
          <div class="input-group">
            <div class="input-block">
              <label for="cpf">CPF</label>
              <input name="cpf" id="cpf" type="number" placeholder="998.767.888-70" required>
            </div>
  
            <div class="input-block">
              <label for="birth-date">Data de nascimento</label>
              <input name="birth-date" id="birth-date" type="date" required>
            </div>
          </div>
  
          <div class="input-block">
            <label for="password">Senha</label>
            <div class="input-box">
              <input name="password" id="password" type="password" placeholder="Cadastre uma senha" required>
              <img class="eye-icon" id="togglePassword" src="/public/images/icons/eye.svg" alt="Eye Icon">
            </div>
          </div>
  
          <div class="policies">
            <label class="label-container">
              <input type="checkbox">
              <span class="checkmark"></span>
              <p>
                Li e estou de acordo com a
                <a href="/">Política de Privacidade</a> 
                e a 
                <a href="/">Política de Uso de Informações.</a>
              </p>
            </label>
          </div>
  
          <button>
            <img class="button-icon" src="/public/images/icons/padlock.svg" alt="Padlock">
            Cadastrar
          </button>
        </form>
      </main>

      <footer>
        <p>Já fiz meu cadastro. <a href="/">Entrar agora.</a></p>
      </footer>
    </div>
  </div>

  <script src="/public/scripts/toggle-password.js"></script>
</body>
</html>